@use '@/styles/abstracts' as *;

.spinner {
  @include flex-center(column, $sp-2);

  &--block {
    padding: $sp-6 $sp-4;
  }

  &__icon {
    animation: spinner-rotate .8s linear infinite;
  }

  &__track {
    stroke: rgba($c-navy, .15);
  }

  &__arc {
    stroke: $c-doing;
  }
}

@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
